# Extract Table from PDF

### Install pdfplumb package

In [15]:
!pip install pdfplumber

Requirement already satisfied: pdfplumber in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (0.5.25)
Requirement already satisfied: Pillow>=7.0.0 in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (from pdfplumber) (8.1.0)
Requirement already satisfied: pdfminer.six==20200517 in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (from pdfplumber) (20200517)
Requirement already satisfied: Wand in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (from pdfplumber) (0.6.5)
Requirement already satisfied: chardet in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (from pdfminer.six==20200517->pdfplumber) (4.0.0)
Requirement already satisfied: pycryptodome in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (from pdfminer.six==20200517->pdfplumber) (3.9.9)
Requirement already satisfied: sortedcontainers in c:\users\julia\anaconda3\envs\cleancode\lib\site-packages (from pdfminer.six==20200517->pdfplumber) (2.3.0)

### Import pdfplumb

In [16]:
import pdfplumber

### Open PDF file

In [17]:
filename="example.pdf"
pdf = pdfplumber.open(filename)

### Looking for the largest table in the file

In [27]:
table=pdf.pages[0].extract_table()

### Look at table

In [28]:
table

[['', 'Title', None, 'March Title', None, 'Title'],
 ['', '2010', '2011', '2012', '2013', '2014'],
 ['Index 1', '10', '10', '10', '10', '10'],
 ['Index 2', '20', '20', '20', '20', '20'],
 ['Index 3', '30', '30', '30', '30', '30'],
 ['Index 4', '40', '40', '40', '40', '40'],
 ['Index 5', '50', '50', '50', '50', '50'],
 ['Index 6', '60', '60', '60', '60', '60'],
 ['Index 7', '70', '70', '70', '70', '70'],
 ['Index 8', '80', '80', '80', '80', '80'],
 ['Index 9', '90', '90', '90', '90', '90'],
 ['Index 10', '100', '100', '100', '100', '100'],
 ['Index 11', '110', '110', '110', '110', '110'],
 ['Index 12', '120', '120', '120', '120', '120'],
 ['Index 13', '130', '130', '130', '130', '130'],
 ['Index 14', '140', '140', '140', '140', '140'],
 ['Index 15', '150', '150', '150', '150', '150'],
 ['Index 16', '160', '160', '160', '160', '160'],
 ['Index 17', '170', '170', '170', '170', '170'],
 ['Index 18', '180', '180', '180', '180', '180'],
 ['Index 19', '190', '190', '190', '190', '190'],
 ['Index 20', '200', '200', '200', '200', '200'],
 ['Index 21', '210', '210', '210', '210', '210'],
 ['Index 22', '220', '220', '220', '220', '220'],
 ['Index 23', '230', '230', '230', '230', '230'],
 ['Index 24', '240', '240', '240', '240', '240'],
 ['Index 25', '250', '250', '250', '250', '250']]

### Find Title in the table

In [21]:
header=0
for i,row in enumerate(table):
    for column in row:
        if column!=None:
            if "Title" in column:
                print(i,row)
                header=i+1
                break

0 ['', 'Title', None, 'March Title', None, 'Title']

In [22]:
columns=list()
for column in table[header]:
    if column!=None and len(column)>1:
        columns.append(column)

In [23]:
columns

['2010', '2011', '2012', '2013', '2014']

In [24]:
import pandas as pd

df = pd.DataFrame(table[header+1:])
df.index=df[0]
df=df.rename_axis(index=None)
del df[0]
df.columns=columns

In [25]:
df

         2010 2011 2012 2013 2014
Index 1    10   10   10   10   10
Index 2    20   20   20   20   20
Index 3    30   30   30   30   30
Index 4    40   40   40   40   40
Index 5    50   50   50   50   50
Index 6    60   60   60   60   60
Index 7    70   70   70   70   70
Index 8    80   80   80   80   80
Index 9    90   90   90   90   90
Index 10  100  100  100  100  100
Index 11  110  110  110  110  110
Index 12  120  120  120  120  120
Index 13  130  130  130  130  130
Index 14  140  140  140  140  140
Index 15  150  150  150  150  150
Index 16  160  160  160  160  160
Index 17  170  170  170  170  170
Index 18  180  180  180  180  180
Index 19  190  190  190  190  190
Index 20  200  200  200  200  200
Index 21  210  210  210  210  210
Index 22  220  220  220  220  220
Index 23  230  230  230  230  230
Index 24  240  240  240  240  240
Index 25  250  250  250  250  250

In [26]:
df.to_csv(filename.split('.')[0]+'.csv',encoding='utf-8-sig')